version: '3'
name: local-mysql

services:
  database:
    image: arm64v8/mysql:8
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
        - 3306:3306
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
  adminer:
    image: arm64v8/adminer:latest
    restart: always
    ports:
      - 2035:8080
    environment:
      # server must be your service name example: database
      ADMINER_DEFAULT_SERVER: database
      ADMINER_DESIGN: mvt

volumes:
  db_data: